{% extends "base.html" %}
{% load i18n %}

{% block contain %}
{% csrf_token %}
<div class="container">
    <div class="row">
    <div class="col-sm-auto">
        <img class="card-img-top img-fluid TitlleLink " src="{{form.photo.url}}" alt="Card image cap" style="height: 100%;width:400px;">
    </div>
    <div class="col-sm " >
        <h2 class="lg-32">{{ form.name }}</p>
          {% if form.orginal == 1 %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
            <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
          </svg>
          {% endif %}
        {% comment %} <p class="lg-32 pText">{{ form.price }}</p> {% endcomment %}
    </div>
    <div class="col-md product-order-card" >
         <div class="d-flex flex-column bd-highlight mb-3">
             
            <p class="lg-32 pText">{% trans "color" %}</p>   
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="direction:ltr">
                <div class="btn-group mr-2" role="group" aria-label="first group">
                  <button type="button" class="btn btn-secondary">red</button>
                  <button type="button" class="btn btn-secondary">gray</button>
                  <button type="button" class="btn btn-secondary">blue</button>
                  <button type="button" class="btn btn-secondary">yellow</button>
                </div>
              </div> 


              <p class="lg-32 pText">{% trans "size" %}</p>   
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="direction:ltr">
                <div class="btn-group mr-2" role="group" aria-label="first group">
                  <button type="button" class="btn btn-secondary">1x</button>
                  <button type="button" class="btn btn-secondary">2x</button>
                  <button type="button" class="btn btn-secondary">3x</button>
                  <button type="button" class="btn btn-secondary">4x</button>
                </div>
              </div> 
              <p class="lg-32 pText">{% trans "price" %}</p>   
              <p class="lg-32 pText">{{ form.price }} {% trans "priceUnit" %}</p> 
        <button type="button" class="btn btn-danger btn-Add-Card p-2 bd-highlight">{% trans "add to card" %}</button>
        
    </div> 
    
    {% comment %} <button type="button" class="btn btn-danger btn-Add-Card p-2 bd-highlight">{% trans "add to card" %}</button> {% endcomment %}
    </div>
    
    </div>
    <div class="row">
        <p class="pText">tablightat</p>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-home" aria-selected="true">{% trans "description" %}</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"> {% trans "comments" %} </button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">some other thing</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab"><p class="pText">{{ form.description }}</p></div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">bbb</div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">ccc</div>
      </div>
    {% comment %} <div class="row">
        <p class="pText">{{ form.description }}</p>
    </div> {% endcomment %}
</div>

{% endblock %}