{% extends "base.html" %}
{% load i18n %}

{% block contain %}
{% csrf_token %}
<div class="container">
    <div class="row">
    <div class="col-sm-auto">
        <img class="card-img-top img-fluid TitlleLink " src="{{form.photo.url}}" alt="Card image cap" style="height: 400px;width:400px;">
    </div>
    <div class="col-sm " >
        <h2 class="lg-32">{{ form.name }}</p>
        {% comment %} <p class="lg-32 pText">{{ form.price }}</p> {% endcomment %}
    </div>
    <div class="col-md" style="background: #eeeeee;">
         <div class="d-flex flex-column bd-highlight mb-3">
            <p class="lg-32 pText">{{ form.price }}</p>   
            <p class="lg-32 pText">{% trans "color" %}</p>   
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="direction:ltr">
                <div class="btn-group mr-2" role="group" aria-label="first group">
                  <button type="button" class="btn btn-secondary">red</button>
                  <button type="button" class="btn btn-secondary">gray</button>
                  <button type="button" class="btn btn-secondary">blue</button>
                  <button type="button" class="btn btn-secondary">4</button>
                </div>
              </div> 
        <button type="button" class="btn btn-danger btn-Add-Card p-2 bd-highlight">{% trans "add to card" %}</button>
        
    </div> 
    
    {% comment %} <button type="button" class="btn btn-danger btn-Add-Card p-2 bd-highlight">{% trans "add to card" %}</button> {% endcomment %}
    </div>
    
    </div>
    <div class="row">
        <p class="pText">tablightat</p>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-home" aria-selected="true">{% trans "description" %}</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"> {% trans "comments" %} </button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">some other thing</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab"><p class="pText">{{ form.description }}</p></div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">bbb</div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">ccc</div>
      </div>
    {% comment %} <div class="row">
        <p class="pText">{{ form.description }}</p>
    </div> {% endcomment %}
</div>

{% endblock %}